/Semana07/nbproject/private/
/Semana07/build/
/Taller1/nbproject/private/
/Taller1/build/
/TareaCicloFor/nbproject/private/
/TareaCicloFor/build/
/JavaApplication16/nbproject/private/
/JavaApplication16/build/
/Ejercicios_Do_While/nbproject/private/
/Ejercicios_Do_While/build/